<!DOCTYPE html>
<html lang="en">
<!-- replace element ID with Thymeleaf attribute in file.th.xml > <thlogic> > <attr sel="#elementId" th:xxxx="yyyy"/> -->
<head id="headId">
	<meta charset="UTF-8">
	<title>Title Content</title>
</head>
<body>
<div align="center">

	<h1>Welcome to Guess the Number Game</h1>

	<h3>
		<!-- replace element ID with Thymeleaf attribute in file.th.xml > <thlogic> > <attr sel="#elementId" th:xxxx="yyyy"/> -->
		<a id="play-game" href="play.html">
			Click to Play TEXT to be replaced!
		</a>
	</h3>

	<!-- replace element ID with Thymeleaf attribute in file.th.xml > <thlogic> > <attr sel="#elementId" th:xxxx="yyyy"/> -->
	<div id="footerId">Footer Content</div>

</div>
</body>
</html>